@{
    ViewData["Title"] = "Home Page";
}
<style>
        body {
    height: 100%;
    background:url('/images/image.png') no-repeat center center fixed;
    background-size: contain;
    background-attachment:fixed;
}

    .center img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    table.center {
        margin-left: auto;
        margin-right: auto;
    }

    img {
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
</style>

<div class="text-center">
    <h1 class="display-4">RecordKeeperWeb</h1>
    <a href="/President" class="font-size:45px">Explore Presidents</a>
    
</div>
